/* Simulator Page Styles */

/* Text Highlighting */
em {
    text-decoration: underline;
    color: #3b82f6; /* blue-600 */
}

/* Custom styles for dynamic font resizing */
.resizeable_element {
    font-size: inherit;
}

/* Bold text styling for content */
b {
    color: #dc2626; /* red-600 */
    font-weight: 600;
}
/* Checkbox visibility logic for bilingual content */
.hide_en {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.hide_ru {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.table:has(#all_ru:checked) .hide_ru {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}

.table:has(#all_en:checked) .hide_en {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}

.row:has(.check_en:checked) > .hide_en {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}

.row:has(.check_ru:checked) > .hide_ru {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}

/* Voice recognizer hiding */
#voicein_container {
    scale: 10%;
}

.body div#voicein_container div#voicein_popup_container.voicein_tr,
.body div#voicein_container:host div#voicein_popup_container.voicein_tr,
:host div#voicein_popup_container.voicein_tr,
:host(div#voicein_popup_container.voicein_tr) {
    opacity: 0 !important;
}

#voicein_container #voicein_voicebox_container {
    display: block !important;
}
